*{
  margin: 0;
  padding: 0;
}


.container{
  max-width: 1200px;
  margin: auto;
}


.bg{
  background: rgb(19, 19, 19);
}
.bg2{
  background: rgb(32, 32, 32);
}



.tooltipCurrency{
  position: relative;
  cursor:  pointer;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.text{
  box-shadow: 0 0 10px rgb(107, 107, 107);
  width: 300px;
  border-radius: 10px;
  white-space: nowrap;
  position: absolute;
  left: 0%;
  top: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: none;
}
.tooltipCurrency:hover .text{
  display: block;
  margin-top: 50px;
  z-index: 9;
}


/* .blockButton{
  display: none;
}
.hoverCard:hover .blockButton{
  display: block;
} */
.hoverCard:hover .boxShadow{
  box-shadow: 0 0 10px rgb(185, 185, 185);
  border-radius: 10px;
  z-index: 0;
}


.bgMenuOpenModal{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
  background-color: rgba(13, 15, 24, 0.768);
}


.imgDropdown-content{
  display: none;
}
.imgDropdown:hover .imgDropdown-content{
  display: block;
  position: absolute;
  top: 305px;
  left: 10.7%;
  width: 411px;
  z-index: 10;
}